.button {
  border:none;
  border-radius: 4px;
  font-size: 1rem;
  &:active,
  &:focus {
    outline: none;
  }
}

.button--primary {
  background: $color-primary;
  &:hover {
    background: darken($color-primary, 5);
  }
}

.button--secondary {
  background: $color-secondary;
  &:hover {
    background: darken($color-secondary, 5);
  }
}

.button--tertiary {
  background: $color-tertiary;
  &:hover {
    background: darken($color-tertiary, 5);
  }
}

.button--standout {
  background: $color-standout;
  &:hover {
    background: darken($color-standout, 5);
  }
  font-size: .9rem;
  font-weight: 400;
  padding-left: .4rem;
  padding-right: .4rem;
}

.button--blank {
  color: #A07866;
  background: none;
  font-weight: 400;
  vertical-align: middle;
  margin-bottom: 0;
  &:hover {
    background: none;
    color: darken(#A07866, 25);
  }
  i {
    vertical-align: middle;
    display: inline-block;
    line-height: 0;
  }
}

.button--icon {
  padding-left: .7rem;
  i {
    display: inline-block;
    font-size: 1.3rem;
    vertical-align: middle;
    margin-right: .3rem;
  }
}

.button--rich {
  text-transform: uppercase;
  font-size: .8rem;
  padding: .75rem 1.5rem 0.8125rem;
}

.button--hollow {
  background: transparent;
  border: 2px solid white;
  text-transform: uppercase;
  color: white;
  border-radius: 4px;
  margin-left: 1rem;
  &:hover {
    background: rgba(black, .1);
  }
}

.button--error {
  background: $color-error;
  color: white;
  &:hover {
    background: darken($color-error, 5);
  }
}

.button.cancel {
  margin-top: 0;
}

.button--condensed {
  font-size: .75rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: .2rem .6rem;
}

.button[disabled] {
  background: rgba($color-primary, .6);
}

.button--cta {
  font-weight: bold;
  text-transform: uppercase;
  font-size: .9rem;
  padding: 1rem;
  width: 100%;
  max-width: 15rem;
}

.button--bold {
  font-weight: bold;
  text-transform: uppercase;
  font-size: .9rem;
  padding: 1rem;
}

.buttons {
  display: block;
  width: 100%;
  clear: both;
  text-align: center;
}

.buttons--cta {
  text-shadow: none;
  .button {
    width: 15rem;
  }
  .button--hollow {
    font-weight: bold;
    font-size: .9rem;
    padding: 1rem;
    box-sizing: border-box;
  }
}

.buttons--left {
  text-align: left;
}
